<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->



    <!-- Name Column -->
    <ng-container matColumnDef="errorType">
      <mat-header-cell *matHeaderCellDef> Error Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.errorType}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="errorcode">
      <mat-header-cell *matHeaderCellDef> Error Code </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.errorcode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="errortext">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.errortext}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="atTimeStamp">
      <mat-header-cell *matHeaderCellDef> At TimeStamp </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.atTimeStamp}} </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">
        <app-minirow [recovery]="detail.element.rootCauseAnalysis"></app-minirow>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             matRipple
             class="element-row"
             [class.expanded]="expandedElement == row"
             (click)="expandedElement = row"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
             [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
             style="overflow: hidden">
    </mat-row>
  </mat-table>
</div>

